---
layout: default
section_id: about
skills:
  - title: Web Design
    percent: 84
  - title: Web Development
    percent: 95
  - title: Site Management
    percent: 70
  - title: Branding
    percent: 61

testimonials:
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-1.png
  - text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-2.png
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-3.png

members:
  - name: Bridget Porter
    position: Designer & Maker
    desc:
      Warm, witty, and sometimes a little whacky, Bridget’s main goal in life is to gently infuse joy into as many lives as possible. She’s happiest and most at ease when surrounded by nature. An ideal day for Bridget might consist of some painting, a scenic hike, some yoga, a twiddle on her guitar, a little boogie and copious amount of Mexican food.
    avatar: images/bridget-portrait.jpg
    socials:
      - icon_class: fa fa-instagram
        url: http://instagram.com/treesoftomorrow.co.nz

  - name: Reggie
    position: Top dog
    desc:
      Young Reggie takes his role as Top Dog very seriously. He couldn't be more eager to be a good boy - sometimes he tries so hard he falls over. He has so much love to give, he's fantastic moral support, and does a great job of keeping Bridget's otherwise ice-cold toes warm while she's creating. He is also a part time branch manager.
    avatar: images/reggie-portrait.jpg
    socials:
      - icon_class: fa fa-instagram
        url: http://instagram.com/treesoftomorrow.co.nz
---


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>A bit about</h4>
      <h2>Our mission</h2>
      <div class='spacing'></div>


      Trees of Tomorrow is the passion project of New Zealand based artist Bridget Porter. Fuelled by her love for the natural world, Bridget’s mission is to replenish our much needed forests - one piece of unique, handcrafted jewellery at a time. <br>  <br>
      Inspired by nature, the designs are born in the woods, developed by the river and then created in her beautiful sunny Arrowtown studio. All jewellery is made in small batches using luxe sterling silver, recycled native New Zealand timber, and a careful selection of precious and semi precious stones. <br> 
       <br>
      Trees of Tomorrow is dedicated to making a net positive impact on the natural environment and the happiness of its people. Every part of the process is carried out with our beautiful planet in our hearts and minds. <br> 
       <br>
      In a loving effort to live harmoniously with our surroundings, we have proudly partnered with Eden Reforestation Projects, who do an incredible job of restoring native forests around the world. In doing so, they lift communities out of extreme poverty by employing local villagers to plant millions of trees every year. And so, for every $10 sold, online or via one of our lovely stockists,  we pay for the planting, raising and protection of one tree in Nepal. <br> 
       <br>
      We want each piece of jewellery to have a positive effect on as many people as possible; not just the proud owner.  As well as planting physical seeds with each sale, our intention is to plant seeds in people’s minds. Seeds of kindness, of hope, of inspiration; the Trees of Tomorrow. <br>  <br>


    </div>
  </div>
  <div class='three spacing'></div>
</div>



<A NAME="eden"></A>



<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='row'>
      <div class='large-12 columns' style='margin: 25px'>
        <h3>Proudly partnered with</h3>
        <h2>Eden Reforestation Projects</h2>
        <div class='spacing'></div>
      </div>

    We are so excited to announce that we have officially partnered with Eden Reforestation Projects, to aid in the efforts of restoring healthy forests & alleviating extreme poverty. <br>
    <br>
    Eden Reforestation Projects (ERP) is a wonderful non-profit whose mission is to provide fair wage employment to impoverished villagers as agents of global forest restoration. They do incredible work around the world - they currently have 174 project sites in 8 countries and have planted over 423 million trees to date! <br>
    <img class="avatar" alt="" src="{{site.url}}/images/saplings-600x450.jpg"  style='margin: 25px;  display: block; margin-left: auto; margin-right: auto;'/>
    <br>
    Their holistic <i>Employ to Plant</i> approach is about so much more than just the trees planted (which is obviously incredible in itself). It’s about workdays created, natural habitats restored, communities & people empowered. It’s about education, collaboration and elevation. <br>
    <br>
    By hiring local villagers to plant native trees, these otherwise impoverished communities are given the opportunity to earn a consistent income so they can provide for their families again. They are provided with the education and tools necessary to plant, grow, and protect to maturity, millions of trees each year. As the reforestation effort goes on, healthy forests begin to emerge and the negative effects of deforestation begin to disappear. <br>
    <br>
    <img class="avatar" alt="" src="{{site.url}}/images/lady-planter-600x450.jpg"  style='margin: 25px;  display: block; margin-left: auto; margin-right: auto;'/>
    ERP chooses the sites very carefully, based on where it’s needed most. Here at Trees of Tomorrow, we have chosen Nepal as our project site. Nepal is one of the poorest and least developed countries in the world and rural villagers in Nepal directly depend on their natural environment for food, shelter, and income. <br>
    <br>
    Our promise: <br>
    For every $10 sold at Trees of Tomorrow, one native tree will be planted, raised & protected in Nepal. To put it very simply, if your ring costs $100, that’s 10 whole trees you’ve helped plant! Amazing, right? <br>
    <br>
    So from Trees of Tomorrow, Eden Reforestation Projects, our friends in Nepal, and the planet - <b>thank you</b>. Let’s see how far we can go together! <br>
    <br>
    <br>



  </div>


</div>



<div class='full' style='background: #FFFFFF'>
  <div class='row'>
    <div class='row'>
      <div class='large-12 columns'>
        <h3>Our team</h3>
        <div class='spacing'></div>
      </div>
    </div>

    {% for member in page.members %}
    <div class='small-6 medium-3 large-4 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
          <div class='overlay'>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{social.url}}'>
                    <i class='{{social.icon_class}}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
  </div>


  <div class='two spacing'></div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>A note from</h4>
      <h2>The maker</h2>
      <div class='spacing'></div>

      When I excitedly bought my first small batch of silver, my vision wasn’t to turn it into a business. It was more of a fun little science experiment. The planet had my heart and I was sure that my career was to be in conservation.<br>
      <br>
      But it quickly became clear that designing and handcrafting beautiful pieces of jewellery inspired by what I love most, brought me a lot of joy. This joy I could then emanate, spreading more smiles and more love. So naturally, I followed this.						<br>
      <br>
      Fast forward to present day, and here I am.<br>
      <br>
      I spend my days doing what I love. Sometimes this looks like pouring my heart into creating delicate pieces of silver jewellery for special people. Sometimes it looks like connecting with like-minded souls at local markets. Sometimes it looks like a day at the lake with my dear partner and Reggie (our dog/love of our life), or a walk along the river to gather inspiration. Whatever it may be, I let my heart lead. I follow my joy while always keeping my deepest held values close to my heart.<br>
      <br>
      I say this not to gloat, but to inspire. I believe that if we were all to pursue our soul’s unique path, we could make the world even more beautiful than it already is. It’s painfully easy to get lost in the fog of what we think we should be doing, and forget that our only job here is to find what makes us shine, and do that.<br>
      <br>
      So Trees of Tomorrow is my contribution. It makes me shine, it makes you shine and it makes Our Planet shine.<br>
      <br>
      Thank you for being here, I truly appreciate your support.<br>
      <br>
      Keep shining brightly x
      

    </div>



  </div>
  <div class='three spacing'></div>
</div>
