---
layout: default
section_id: about
skills:
  - title: Web Design
    percent: 84
  - title: Web Development
    percent: 95
  - title: Site Management
    percent: 70
  - title: Branding
    percent: 61

testimonials:
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-1.png
  - text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-2.png
  - text: "Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."
    author: David White
    position: Designer at Huglab
    avatar: images/@stock/author-avatar-3.png

members:
  - name: Bridget Porter
    position: Designer & Maker
    desc:
      Bridget blah blahm
    avatar: images/bridget-portrait.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
  - name: Alex Simpson
    position: Web Developer & loving partner
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/alex-portrait.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-dribbble
        url: http://dribbble.com
  - name: Reggie
    position: Top dog
    desc:
      consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit.
    avatar: images/reggie-portrait.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
---


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>We are proud of</h4>
      <h2>Our mission</h2>
      <div class='spacing'></div>


      Trees of Tomorrow is the creation of New Zealand based artist Bridget Porter. Fuelled by her love for the natural world, Bridget’s mission is to replenish our much needed forests - one piece of unique, handcrafted jewellery at a time. <br>  <br>
      Inspired by nature, the designs are born in the woods, developed by the river and then created in her beautiful sunny Arrowtown studio. All jewellery is made in small batches using luxe sterling silver, recycled native New Zealand timber, and a careful selection of precious and semi precious stones. <br> 
       <br>
      Trees of Tomorrow is dedicated to making a net positive impact on the natural environment and the happiness of its people. Every part of the process is carried out with our beautiful planet in our hearts and minds. <br> 
       <br>
      In a loving effort to live harmoniously with our surroundings, we have proudly partnered with Eden Reforestation Projects, who do an incredible job of restoring native forests around the world. In doing so, they lift communities out of extreme poverty by employing local villagers to plant millions of trees every year. And so, for every $10 sold, online or at our market stall,  we pay for the planting, raising and protection of one tree in Nepal. <br> 
       <br>
      We want each piece of jewellery to have a positive effect on as many people as possible; not just the proud owner.  As well as planting physical seeds with each sale, our intention is to plant seeds in people’s minds. Seeds of kindness, of hope, of inspiration; the Trees of Tomorrow. <br>  <br>


    </div>
  </div>
  <div class='three spacing'></div>
</div>
<div class='full' style='background: #f5f5f5'>
  <div class='row'>


    <div class='large-12 columns'>
      <h4 style='color: #999'>A note from</h4>
      <h2>The maker</h2>
      <div class='spacing'></div>

      When I excitedly bought my first small batch of silver, my vision wasn’t to turn it into a business. It was more of a fun little science experiment. The planet had my heart and I was sure that my career was to be in conservation.<br>
<br>
      But it quickly became clear that designing and handcrafting beautiful pieces of jewellery inspired by what I love most, brought me a lot of joy. This joy I could then emanate, spreading more smiles and more love. So naturally, I followed this.						<br>
<br>
      Fast forward to present day, and here I am.<br>
      <br>
      I spend my days doing what I love. Sometimes this looks like pouring my heart into creating delicate pieces of silver jewellery for special people. Sometimes it looks like connecting with like-minded souls at local markets. Sometimes it looks like a day at the lake with my dear partner and Reggie (our dog/love of our life), or a walk along the river to gather inspiration. Whatever it may be, I let my heart lead. I follow my joy while always keeping my deepest held values close to my heart.<br>
      <br>
      I say this not to gloat, but to inspire. I believe that if we were all to pursue our soul’s unique path, we could make the world even more beautiful than it already is. It’s painfully easy to get lost in the fog of what we think we should be doing, and forget that our only job here is to find what makes us shine, and do that.<br>
      <br>
      So Trees of Tomorrow is my contribution. It makes me shine, it makes you shine and it makes the world shine.<br>
      <br>
      Thank you for being here, I truly appreciate your support.<br>
      <br>
      Keep shining brightly x
      

    </div>





    <!-- <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percent}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percent}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> -->
    <!-- <div class='medium-6 columns'>
      <h3>The testimonials</h3>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img alt="" src="{{t.avatar}}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>
                        {{t.author}}
                      </strong>
                      , {{t.position}}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class='two spacing'></div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>Our team</h3>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in page.members %}
      <div class='small-6 medium-3 large-4 columns'>
        <div class='mod modTeamMember style-2'>
          <div class='member'>
            <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
            <div class='overlay'>
              <ul class='socials'>
                {% for social in member.socials %}
                  <li>
                    <a href='{{social.url}}'>
                      <i class='{{social.icon_class}}'></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <h3>{{member.name}}</h3>
          <p class='position'>{{member.position}}</p>
          <p>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='three spacing'></div>
</div>
